body {
    font-family: "Bruno Ace SC", serif;
        font-weight: 400;
        font-style: normal;
    background-color: #2c2c2c;
    color: #ffffff;
    overflow-x: hidden;
}

.header {
    background-color: #2c2c2c;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .portrait {
        max-width: 25vw;
        min-width: 200px;
        max-height: 35vh;
        min-height: 200px;
        border-radius: 50%;
        margin-left: 20px;
        margin-right: 40px;
        box-shadow: 0 0 3vw #edf0f6;
        transition: transform 0.4s, box-shadow 0.4s;
    }
        .portrait:hover {
            transform: scale(1.07);
        }
    .name {
        font-size: clamp(40px,4vw,4vw);
        margin: 40px;
    }


.button-container {
    background-color: #2c2c2c;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    place-items: center;
}
    .sectionButton {
        display: flex;
        justify-content: center;
        width: 43vw;
        height: 21vh;
        align-items: center;
        font-size: clamp(20px,2.5vw,2.5vw);
        color: #ffffff;
        text-decoration: none;
        transition: transform 0.4s, box-shadow 0.4s;
        border-radius: 2vw;  
    }
        .button-image {
        max-width: 9vw;
        max-height: 18vh;
        }

    .sectionButton:nth-child(1) {
        background-color: #d66a6a;
        box-shadow: 0 0 1vw #d66a6a;
    }
        .sectionButton:nth-child(1):hover {
            transform: scale(1.07);
   	        box-shadow: 0 0 3vw #d66a6a;
        }


    .sectionButton:nth-child(2) {
        background-color: #6a99d6;
        box-shadow: 0 0 1vw #6a99d6;
    }
        .sectionButton:nth-child(2):hover {
            transform: scale(1.07);
            box-shadow: 0 0 3vw #6a99d6;
        }


    .sectionButton:nth-child(3) {
        background-color: #6ad66a;
        box-shadow: 0 0 1vw #6ad66a;
    }
        .sectionButton:nth-child(3):hover {
            transform: scale(1.07);
            box-shadow: 0 0 3vw #6ad66a;
        }


    .sectionButton:nth-child(4) {
        background-color: #d66ad6;
        box-shadow: 0 0 1vw #d66ad6;
    }
        .sectionButton:nth-child(4):hover {
            transform: scale(1.07);
            box-shadow: 0 0 3vw #d66ad6;
        }


html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    background-color: #2c2c2c;
}
    .toTop {
        text-decoration: none;
        display: flex;
        width: 4vh;
        height: 8vh;
        background-color: #b9bcc2;
        box-shadow: 0 0 1.5vh #b9bcc2;
        justify-content: center;
        align-items: center;
        border-radius: 2vw;        
    }
        .toTop:hover {
        .pfeil-image{transform:translateY(-8px);}
        }
        .pfeil-image {
            max-height: 8vh;
            max-width: 4vh;
            transition: transform 0.3s ease;
        }

#section1 {
    background-color: #2c2c2c; 
    display: flex;
    justify-content: center;
}
    .timeline {
        position: relative;
        max-width: 80vw;
        font-size: clamp(10px,2vh,2vh);
        margin: 0 auto;
    }
    .timeline::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 10px;
        background-color: #d66ad6;
        transform: translateX(-50%);
    }
    .timeline-item {
        position: relative;
        background: #706c6c;
        height:  fit-content;
        max-width: 30vw;
        border-radius: 8px;
        padding: 5px;
    }
        .timeline-item::before {
            content: '';
            position: absolute;
            width: calc(15%);            
            height: 7px; 
            background: #d66ad6;
        }
    .timeline-item:nth-child(odd){
        border-right:  3px solid #d66ad6;
        text-align: right;
        left:5%;
    }
        .timeline-item:nth-child(odd)::before {
            left: 100%; 
        }
    .timeline-item:nth-child(even){
        border-left: 3px solid #d66ad6;
        text-align: left;
        left:55%;
    }
        .timeline-item:nth-child(even)::before {
            right: 100%; 
        }
    
    
    
    

#section2 {
 background-color: #2c2c2c; 
}
#section3 {
 background-color: #2c2c2c; 
}
#section4 {
 background-color: #2c2c2c; 
}
